{% extends "base.html" %}
{% block title %} Servicios | Registro {% endblock %}
{% block content %}
<div class="container">
<h1 class="text-center">Registro servicio</h1>
<hr>
<form method="post" action="/servicios/guardar">
    <div class="mb-3">
    <label for="nombre" class="form-label">Ingrese nombre del servicio:</label>
    <input id="nombre" class="form-control" type="text" name="nombre" placeholder="Ingrese el nombre"><p></p>
    </div>
    <input class="btn btn-primary" type="submit" value="Registrar">
</form>
</div>
{% endblock %}
