{% extends "base.html" %}
{% block title %}Establecimientos{% endblock %}
{% block content %}
<div class="container">
  <h1 class="mt-2 text-center">Establecimientos</h1>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Responsable</th>
        <th scope="col">Servicios</th>
      </tr>
    </thead>
    <tbody>
      {% for establecimiento in establecimientos %}
      <tr>
        <td>
          {{ establecimiento[1] }}
        </td>
        <td>
          {{ establecimiento[2] }}
        </td>
        <td>
          {{ establecimiento[3] }}
        </td>
        <td>
          {{ establecimiento[4] }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

